/* burger menu none/bock */




.burger-menu-is-open {
    transform: translate(0px);
}
.burger-menu-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 60px 30px;
    transform: translate(100%);
    transition: all 0.5s ease;
}

.shipping-policy-popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






$(document).on("click", '.shipping-policy-popup-content',function(event) {
    console.log(event.target)
    if(event.target.classList.contains('shipping-policy-popup-content')){
      $('.shipping-policy-popup-content').removeClass('policy-is-open');
    }
});



window.onclick = function(event) {
  console.log(event.target);
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


$(document).ready(function() {
  $(".set > a").on("click", function(event) {
    event.preventDefault();

    if ($(this).hasClass("active")) {
       $(this).removeClass("active");
       $(this).siblings(".content").slideUp(200);
       $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
    }else{
      $(this).find("i").removeClass("fa-plus").addClass("fa-minus");
      $(this).addClass("active");
      $(this).siblings(".content").slideDown(200);
      $('html, body').animate({
        scrollTop: $(this).offset().top
      }, 350)
    }
    
  });
});